@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat/montserrat-light.eot");
  src: url("../font/montserrat/montserrat-light.eot") format("embedded-opentype"), url("../font/montserrat/montserrat-light.woff2") format("woff2"), url("../font/montserrat/montserrat-light.woff") format("woff"), url("../font/montserrat/montserrat-light.ttf") format("truetype"), url("../font/montserrat/montserrat-light.svg#montserrat-light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat/montserrat-normal.eot");
  src: url("../font/montserrat/montserrat-normal.eot") format("embedded-opentype"), url("../font/montserrat/montserrat-normal.woff2") format("woff2"), url("../font/montserrat/montserrat-normal.woff") format("woff"), url("../font/montserrat/montserrat-normal.ttf") format("truetype"), url("../font/montserrat/montserrat-normal.svg#montserrat-normal") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat/montserrat-medium.eot");
  src: url("../font/montserrat/montserrat-medium.eot") format("embedded-opentype"), url("../font/montserrat/montserrat-medium.woff2") format("woff2"), url("../font/montserrat/montserrat-medium.woff") format("woff"), url("../font/montserrat/montserrat-medium.ttf") format("truetype"), url("../font/montserrat/montserrat-medium.svg#montserrat-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat/montserrat-semibold.eot");
  src: url("../font/montserrat/montserrat-semibold.eot") format("embedded-opentype"), url("../font/montserrat/montserrat-semibold.woff2") format("woff2"), url("../font/montserrat/montserrat-semibold.woff") format("woff"), url("../font/montserrat/montserrat-semibold.ttf") format("truetype"), url("../font/montserrat/montserrat-semibold.svg#montserrat-semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat/montserrat-bold.eot");
  src: url("../font/montserrat/montserrat-bold.eot") format("embedded-opentype"), url("../font/montserrat/montserrat-bold.woff2") format("woff2"), url("../font/montserrat/montserrat-bold.woff") format("woff"), url("../font/montserrat/montserrat-bold.ttf") format("truetype"), url("../font/montserrat/montserrat-bold.svg#montserrat-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url("../font/Almarai/Almarai-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0600-06FF;
  /* We do this to only download the font when arabic characters are available on the page.*/
}

@font-face {
  font-family: 'Almarai';
  src: url("../font/Almarai/Almarai-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'Almarai';
  src: url("../font/Almarai/Almarai-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'Almarai';
  src: url("../font/Almarai/Almarai-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
  unicode-range: U+0600-06FF;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
}

kbd {
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

pre {
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.field--name-field-introduction-text *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-featured-items-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-featured-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-accord-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-accord-item-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-phase-description *:not(.badge):not(.section__title) > a:not(.btn),
.paragraph--type--image-text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn),
.paragraph--type--text-image .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn),
.paragraph--type--text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn),
.scorm-form--body *:not(.badge):not(.section__title) > a:not(.btn),
.quiz-form__text *:not(.badge):not(.section__title) > a:not(.btn),
.course-full .card__body *:not(.badge):not(.section__title) > a:not(.btn),
.teaser--course *:not(.badge):not(.section__title) > a:not(.btn),
.body-text *:not(.badge):not(.section__title) > a:not(.btn),
.block--intro-text .block--intro-text__content *:not(.badge):not(.section__title) > a:not(.btn),
.block-inline-blockkpi-analytics .field--name-body *:not(.badge):not(.section__title) > a:not(.btn),
.basic-block .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn),
.hero--dashboard .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn),
.certificate-footer .bottom *:not(.badge):not(.section__title) > a:not(.btn),
.certificate-header .description *:not(.badge):not(.section__title) > a:not(.btn) {
  text-decoration: underline;
}

.field--name-field-introduction-text *:not(.badge):not(.section__title) > a:not(.btn):hover, .field--name-field-introduction-text *:not(.badge):not(.section__title) > a:not(.btn):focus,
.field--name-field-featured-items-description *:not(.badge):not(.section__title) > a:not(.btn):hover,
.field--name-field-featured-items-description *:not(.badge):not(.section__title) > a:not(.btn):focus,
.field--name-field-featured-description *:not(.badge):not(.section__title) > a:not(.btn):hover,
.field--name-field-featured-description *:not(.badge):not(.section__title) > a:not(.btn):focus,
.field--name-field-accord-description *:not(.badge):not(.section__title) > a:not(.btn):hover,
.field--name-field-accord-description *:not(.badge):not(.section__title) > a:not(.btn):focus,
.field--name-field-accord-item-description *:not(.badge):not(.section__title) > a:not(.btn):hover,
.field--name-field-accord-item-description *:not(.badge):not(.section__title) > a:not(.btn):focus,
.field--name-field-phase-description *:not(.badge):not(.section__title) > a:not(.btn):hover,
.field--name-field-phase-description *:not(.badge):not(.section__title) > a:not(.btn):focus,
.paragraph--type--image-text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn):hover,
.paragraph--type--image-text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn):focus,
.paragraph--type--text-image .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn):hover,
.paragraph--type--text-image .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn):focus,
.paragraph--type--text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn):hover,
.paragraph--type--text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn):focus,
.scorm-form--body *:not(.badge):not(.section__title) > a:not(.btn):hover,
.scorm-form--body *:not(.badge):not(.section__title) > a:not(.btn):focus,
.quiz-form__text *:not(.badge):not(.section__title) > a:not(.btn):hover,
.quiz-form__text *:not(.badge):not(.section__title) > a:not(.btn):focus,
.course-full .card__body *:not(.badge):not(.section__title) > a:not(.btn):hover,
.course-full .card__body *:not(.badge):not(.section__title) > a:not(.btn):focus,
.teaser--course *:not(.badge):not(.section__title) > a:not(.btn):hover,
.teaser--course *:not(.badge):not(.section__title) > a:not(.btn):focus,
.body-text *:not(.badge):not(.section__title) > a:not(.btn):hover,
.body-text *:not(.badge):not(.section__title) > a:not(.btn):focus,
.block--intro-text .block--intro-text__content *:not(.badge):not(.section__title) > a:not(.btn):hover,
.block--intro-text .block--intro-text__content *:not(.badge):not(.section__title) > a:not(.btn):focus,
.block-inline-blockkpi-analytics .field--name-body *:not(.badge):not(.section__title) > a:not(.btn):hover,
.block-inline-blockkpi-analytics .field--name-body *:not(.badge):not(.section__title) > a:not(.btn):focus,
.basic-block .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn):hover,
.basic-block .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn):focus,
.hero--dashboard .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn):hover,
.hero--dashboard .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn):focus,
.certificate-footer .bottom *:not(.badge):not(.section__title) > a:not(.btn):hover,
.certificate-footer .bottom *:not(.badge):not(.section__title) > a:not(.btn):focus,
.certificate-header .description *:not(.badge):not(.section__title) > a:not(.btn):hover,
.certificate-header .description *:not(.badge):not(.section__title) > a:not(.btn):focus {
  text-decoration: none;
}

.comment__text p a:not(.btn) {
  text-decoration: underline;
}

.comment__text p a:not(.btn):hover, .comment__text p a:not(.btn):focus {
  text-decoration: none;
}

blockquote {
  border-left: 3px solid #29abe2;
}

strong {
  font-weight: 600;
}

:lang(ar) {
  font-family: "Almarai", "montserrat", sans-serif;
}

.text-primary {
  color: #29abe2;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #1a8dbe;
}

.text-success {
  color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}

.text-info {
  color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
  color: #245269;
}

.text-warning {
  color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}

.text-muted {
  color: #555555;
}

a.text-muted:hover,
a.text-muted:focus {
  color: #3c3c3c;
}

.text-gray {
  color: #555555;
}

a.text-gray:hover,
a.text-gray:focus {
  color: #3c3c3c;
}

.text-gray-light {
  color: #777;
}

a.text-gray-light:hover,
a.text-gray-light:focus {
  color: #5e5e5e;
}

.text-gray-lighter {
  color: #adadad;
}

a.text-gray-lighter:hover,
a.text-gray-lighter:focus {
  color: #949494;
}

.text-gray-lightest {
  color: #e6e6e6;
}

a.text-gray-lightest:hover,
a.text-gray-lightest:focus {
  color: #cdcdcd;
}

.text-accent {
  color: #ffc142;
}

a.text-accent:hover,
a.text-accent:focus {
  color: #ffb00f;
}

.bg-primary {
  background-color: #29abe2;
}

.bg-secondary {
  background-color: #1f80aa;
}

.bg-accent {
  background-color: #ffc142;
}

.bg-success {
  background-color: #dff0d8;
}

.bg-warning {
  background-color: #fcf8e3;
}

.bg-danger {
  background-color: #f2dede;
}

.bg-info {
  background-color: #d9edf7;
}

.bg-gray-base {
  background-color: #000;
}

.bg-gray-darker {
  background-color: #222222;
}

.bg-gray-dark {
  background-color: #333333;
}

.bg-gray {
  background-color: #555555;
}

.bg-gray-light {
  background-color: #777;
}

.bg-gray-light-1 {
  background-color: #adadad;
}

.bg-gray-lighter {
  background-color: #e6e6e6;
}

.bg-gray-lighter-1 {
  background-color: #f7f7f7;
}

.bg-gray-lightest {
  background-color: #f3f3f3;
}

.bg-white {
  background-color: white;
}

.brand-primary {
  background-color: #29abe2;
  border-color: #29abe2;
  color: white;
}

a.brand-primary:hover,
a.brand-primary:focus {
  background-color: #1a8dbe;
  border-color: #1a8dbe;
  color: white;
}

.brand-secondary {
  background-color: #1f80aa;
  border-color: #1f80aa;
  color: white;
}

a.brand-secondary:hover,
a.brand-secondary:focus {
  background-color: #17607f;
  border-color: #17607f;
  color: white;
}

.brand-accent {
  background-color: #ffc142;
  border-color: #ffc142;
  color: #343434;
}

a.brand-accent:hover,
a.brand-accent:focus {
  background-color: #ffb00f;
  border-color: #ffb00f;
  color: #343434;
}

.brand-user {
  background-color: #222222;
  border-color: #222222;
  color: white;
}

a.brand-user:hover,
a.brand-user:focus {
  background-color: #090909;
  border-color: #090909;
  color: white;
}

.default-light {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #343434;
}

a.default-light:hover,
a.default-light:focus {
  background-color: #cdcdcd;
  border-color: #cdcdcd;
  color: #343434;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
  background-color: #f3f3f3;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c3e7f7;
}

.table-hover .table-primary:hover {
  background-color: #addef4;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #addef4;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #c0dbe7;
}

.table-hover .table-secondary:hover {
  background-color: #aed0e0;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #aed0e0;
}

.table-accent,
.table-accent > th,
.table-accent > td {
  background-color: #ffeeca;
}

.table-hover .table-accent:hover {
  background-color: #ffe6b1;
}

.table-hover .table-accent:hover > td,
.table-hover .table-accent:hover > th {
  background-color: #ffe6b1;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #d1ebd1;
}

.table-hover .table-success:hover {
  background-color: #bfe3bf;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #bfe3bf;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #c6eaf8;
}

.table-hover .table-info:hover {
  background-color: #afe2f5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #afe2f5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffdeb8;
}

.table-hover .table-warning:hover {
  background-color: #ffd29f;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffd29f;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f4cfce;
}

.table-hover .table-danger:hover {
  background-color: #efbbb9;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #efbbb9;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #f8f8f8;
}

.table-hover .table-light:hover {
  background-color: #ebebeb;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ebebeb;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c6c6;
}

.table-hover .table-dark:hover {
  background-color: #b9b9b9;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9b9b9;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .table {
  background-color: #f3f3f3;
}

.table th a {
  color: #1d789e;
}

.table th.is-active > a {
  color: #29abe2;
}

.table .icon-tablesort {
  fill: #29abe2;
}

.img-avatar,
.avatar img,
.avatar-icon {
  border-radius: 50%;
}
