:root {
  --primary-color: #29abe2;
  --secondary-color: #1f80aa;
  --accent-color: #ffc142;
  --accent-color--text: #343434;
}

[type="radio"]:checked + label:before {
  border-color: #29abe2;
}

[type="radio"]:focus + label:before {
  -webkit-box-shadow: 0 0 3px 2px #29abe2;
          box-shadow: 0 0 3px 2px #29abe2;
}

[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  border-color: #29abe2;
  background-color: #29abe2;
}

[type="checkbox"]:checked:not(:disabled) + label,
[type="radio"]:checked:not(:disabled) + label {
  color: #29abe2;
  fill: #29abe2;
}

.tabs-left .nav-tabs > li.active > a,
.tabs-left .nav-tabs > li.active > a:hover,
.tabs-left .nav-tabs > li.active > a:focus {
  border-right-color: #29abe2;
}

.view-birthday .teaser--tile .teaser__image {
  background-color: #29abe2;
}

.cover,
.read-indicator,
.select2-container--social .select2-results__option--highlighted[aria-selected],
.select2-container--social .select2-results__option[aria-selected=true],
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #29abe2;
}

.hero-form[role='search'] .form-control:focus, .hero-form[role='search'] .form-control:active,
.hero-form[role='search'] .form-control:focus ~ .search-icon,
.hero-form[role='search'] .form-control:active ~ .search-icon {
  -webkit-box-shadow: 0 2px 0 0 #1f80aa;
          box-shadow: 0 2px 0 0 #1f80aa;
}

.hero-form[role='search'] .search-icon {
  fill: #29abe2;
}

.search-grid--hero .form-wrapper .btn-group:before {
  background: #29abe2;
}

.search-grid--hero .form-wrapper .btn-group .dropdown-toggle .caret {
  border-bottom-color: #29abe2;
  border-top-color: #29abe2;
}

.search-grid--hero .form-wrapper .btn-group .form-submit {
  color: #29abe2;
}

.form-control:focus {
  border-color: #29abe2;
  -webkit-box-shadow: 0 2px 0 0 #29abe2;
          box-shadow: 0 2px 0 0 #29abe2;
}

.select2-container--social.select2-container--focus .select2-selection, .select2-container--social.select2-container--open .select2-selection, .select2-container--social .select2-dropdown {
  border-color: #29abe2;
}

.site-footer,
.badge-secondary,
.stream-icon-new {
  background-color: #1f80aa;
}

.eu-cookie-compliance-secondary-button,
.btn-primary {
  background-color: #29abe2;
  border-color: #29abe2;
}

.eu-cookie-compliance-secondary-button:focus, .eu-cookie-compliance-secondary-button.focus, .eu-cookie-compliance-secondary-button:hover, .eu-cookie-compliance-secondary-button:active, .eu-cookie-compliance-secondary-button.active,
.open > .eu-cookie-compliance-secondary-button.dropdown-toggle, .eu-cookie-compliance-secondary-button.dropdown-toggle:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open >
.btn-primary.dropdown-toggle,
.btn-primary.dropdown-toggle:hover {
  background-color: #29abe2;
  border-color: #29abe2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.eu-cookie-compliance-secondary-button.disabled:hover, .eu-cookie-compliance-secondary-button.disabled:focus, .eu-cookie-compliance-secondary-button.disabled.focus, .eu-cookie-compliance-secondary-button[disabled]:hover, .eu-cookie-compliance-secondary-button[disabled]:focus, .eu-cookie-compliance-secondary-button[disabled].focus,
fieldset[disabled] .eu-cookie-compliance-secondary-button:hover,
fieldset[disabled] .eu-cookie-compliance-secondary-button:focus,
fieldset[disabled] .eu-cookie-compliance-secondary-button.focus,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled]
.btn-primary:hover,
fieldset[disabled]
.btn-primary:focus,
fieldset[disabled]
.btn-primary.focus {
  background-color: #29abe2;
  border-color: #29abe2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.btn-secondary {
  background-color: #1f80aa;
  border-color: #1f80aa;
}

.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle, .btn-secondary.dropdown-toggle:hover {
  background-color: #1f80aa;
  border-color: #1f80aa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary:hover,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #1f80aa;
  border-color: #1f80aa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.badge-accent {
  color: #343434;
  background-color: #ffc142;
  border-color: #ffc142;
}

.btn-accent {
  color: #343434;
  background-color: #ffc142;
  border-color: #ffc142;
}

.btn-accent:focus, .btn-accent.focus, .btn-accent:hover, .btn-accent:active, .btn-accent.active,
.open > .btn-accent.dropdown-toggle, .btn-accent.dropdown-toggle:hover {
  color: #343434;
  background-color: #ffc142;
  border-color: #ffc142;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.btn-accent.disabled:hover, .btn-accent.disabled:focus, .btn-accent.disabled.focus, .btn-accent[disabled]:hover, .btn-accent[disabled]:focus, .btn-accent[disabled].focus,
fieldset[disabled] .btn-accent:hover,
fieldset[disabled] .btn-accent:focus,
fieldset[disabled] .btn-accent.focus {
  color: #343434;
  background-color: #ffc142;
  border-color: #ffc142;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.card__link,
.card__link .btn-default,
.card__link.btn-default {
  border-color: #29abe2;
}

.btn-flat,
.btn-link,
.btn-link:hover,
.btn-flat:hover,
.btn-link:focus,
.btn-flat:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > button,
.nav-tabs > li.active > button:hover,
.nav-tabs > li.active > button:focus,
.card__link,
.card__link:focus,
.card__link:hover,
.view--who-liked .views-field-view-user a,
.comment__reply-btn,
.nav-book .menu-item--active-trail > a {
  color: #29abe2;
  fill: #29abe2;
}

.list-item--active,
.list-item--active:hover,
.list-item--active:focus,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #1f80aa;
  border-color: #1f80aa;
}

.field--name-field-introduction-text *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-featured-items-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-featured-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-accord-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-accord-item-description *:not(.badge):not(.section__title) > a:not(.btn),
.field--name-field-phase-description *:not(.badge):not(.section__title) > a:not(.btn),
.quiz-form__text *:not(.badge):not(.section__title) > a:not(.btn),
.scorm-form--body *:not(.badge):not(.section__title) > a:not(.btn),
.body-text *:not(.badge):not(.section__title) > a:not(.btn),
.paragraph--type--image-text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn),
.paragraph--type--text-image .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn),
.paragraph--type--text .field--name-field-text *:not(.badge):not(.section__title) > a:not(.btn),
.course-full .card__body *:not(.badge):not(.section__title) > a:not(.btn),
.teaser--course *:not(.badge):not(.section__title) > a:not(.btn),
.block--intro-text .block--intro-text__content *:not(.badge):not(.section__title) > a:not(.btn),
.block-inline-blockkpi-analytics .field--name-body *:not(.badge):not(.section__title) > a:not(.btn),
.basic-block .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn),
.hero--dashboard .field--name-field-text-block *:not(.badge):not(.section__title) > a:not(.btn),
.certificate-footer .bottom *:not(.badge):not(.section__title) > a:not(.btn),
.certificate-header .description *:not(.badge):not(.section__title) > a:not(.btn) {
  color: #33b5e5;
}

.comment__text p a:not(.btn) {
  color: #33b5e5;
}

blockquote {
  border-left-color: #29abe2;
}

.input-group .form-control:focus ~ .input-group-addon {
  border-color: #29abe2;
  -webkit-box-shadow: 0 2px 0 0 #29abe2;
          box-shadow: 0 2px 0 0 #29abe2;
}

#skip-link a {
  background-color: #1f1f1f;
  color: #f3f3f3;
}

.navbar-secondary {
  color: #f9f9f9;
  background-color: #1f7ea7;
}

.navbar-secondary .navbar-nav a, .navbar-secondary .navbar-nav button {
  color: #f9f9f9;
}

.navbar-secondary .navbar-nav li.active a, .navbar-secondary .navbar-nav li.active button {
  border-bottom-color: #f9f9f9;
}

.navbar-scrollable:before {
  background: -webkit-gradient(linear, left top, right top, from(#1f7ea7), to(transparent));
  background: linear-gradient(90deg, #1f7ea7, transparent);
}

.navbar-scrollable:after {
  background: -webkit-gradient(linear, right top, left top, from(#1f7ea7), to(transparent));
  background: linear-gradient(-90deg, #1f7ea7, transparent);
}

.navbar-default {
  background-color: #333333;
}

.navbar-default .navbar-toggle {
  color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-default.navbar-second-line {
  background-color: #004494;
}

.navbar-default.navbar-second-line .navbar-nav > li > a,
.navbar-default.navbar-second-line .navbar-nav > li > button {
  color: #fffff1;
  fill: #fffff1;
}

.navbar-default.navbar-second-line .navbar-nav > li > a:hover, .navbar-default.navbar-second-line .navbar-nav > li > a:focus,
.navbar-default.navbar-second-line .navbar-nav > li > button:hover,
.navbar-default.navbar-second-line .navbar-nav > li > button:focus {
  color: #002f67;
  background-color: #f2f5f9;
}

.navbar-default.navbar-second-line .navbar-nav > li > a:hover .navbar-nav__icon, .navbar-default.navbar-second-line .navbar-nav > li > a:focus .navbar-nav__icon,
.navbar-default.navbar-second-line .navbar-nav > li > button:hover .navbar-nav__icon,
.navbar-default.navbar-second-line .navbar-nav > li > button:focus .navbar-nav__icon {
  fill: #002f67;
}

.navbar-default.navbar-second-line .navbar-nav > .open > a, .navbar-default.navbar-second-line .navbar-nav > .open > a:hover, .navbar-default.navbar-second-line .navbar-nav > .open > a:focus,
.navbar-default.navbar-second-line .navbar-nav > .open > button,
.navbar-default.navbar-second-line .navbar-nav > .open > button:hover,
.navbar-default.navbar-second-line .navbar-nav > .open > button:focus {
  background-color: #f2f5f9;
  color: #002f67;
}

.navbar-default.navbar-second-line .navbar-nav > li > a.is-active, .navbar-default.navbar-second-line .navbar-nav > li > a.is-active:hover, .navbar-default.navbar-second-line .navbar-nav > li > a.is-active:focus,
.navbar-default.navbar-second-line .navbar-nav > li > button.is-active,
.navbar-default.navbar-second-line .navbar-nav > li > button.is-active:hover,
.navbar-default.navbar-second-line .navbar-nav > li > button.is-active:focus,
.navbar-default.navbar-second-line .navbar-nav > .active > a,
.navbar-default.navbar-second-line .navbar-nav > .active > a:hover,
.navbar-default.navbar-second-line .navbar-nav > .active > a:focus,
.navbar-default.navbar-second-line .navbar-nav > .active > button,
.navbar-default.navbar-second-line .navbar-nav > .active > button:hover,
.navbar-default.navbar-second-line .navbar-nav > .active > button:focus {
  color: #002f67;
  fill: #002f67;
  background-color: #f2f5f9;
}

.navbar-default.navbar-second-line .navbar-nav > .dropdown > .dropdown-menu {
  background-color: #f2f5f9;
}

.navbar-default.navbar-second-line .navbar-nav > .dropdown > .dropdown-menu a {
  color: #002f67;
}

.navbar-default.navbar-second-line .navbar-nav__icon {
  fill: #fffff1;
}

.header-top {
  background-color: #333333;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > button,
.header-top .navbar-nav > li > a,
.header-top .navbar-nav > li > button {
  color: #ffffff;
  fill: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > button:hover,
.navbar-default .navbar-nav > li > button:focus,
.header-top .navbar-nav > li > a:hover,
.header-top .navbar-nav > li > a:focus,
.header-top .navbar-nav > li > button:hover,
.header-top .navbar-nav > li > button:focus {
  color: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-default .navbar-nav > li > a:hover .navbar-nav__icon, .navbar-default .navbar-nav > li > a:focus .navbar-nav__icon,
.navbar-default .navbar-nav > li > button:hover .navbar-nav__icon,
.navbar-default .navbar-nav > li > button:focus .navbar-nav__icon,
.header-top .navbar-nav > li > a:hover .navbar-nav__icon,
.header-top .navbar-nav > li > a:focus .navbar-nav__icon,
.header-top .navbar-nav > li > button:hover .navbar-nav__icon,
.header-top .navbar-nav > li > button:focus .navbar-nav__icon {
  fill: #f3f3f3;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > button,
.navbar-default .navbar-nav > .open > button:hover,
.navbar-default .navbar-nav > .open > button:focus,
.header-top .navbar-nav > .open > a,
.header-top .navbar-nav > .open > a:hover,
.header-top .navbar-nav > .open > a:focus,
.header-top .navbar-nav > .open > button,
.header-top .navbar-nav > .open > button:hover,
.header-top .navbar-nav > .open > button:focus {
  background-color: #1f1f1f;
  color: #f3f3f3;
}

.navbar-default .navbar-nav > li > a.is-active, .navbar-default .navbar-nav > li > a.is-active:hover, .navbar-default .navbar-nav > li > a.is-active:focus,
.navbar-default .navbar-nav > li > button.is-active,
.navbar-default .navbar-nav > li > button.is-active:hover,
.navbar-default .navbar-nav > li > button.is-active:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > button,
.navbar-default .navbar-nav > .active > button:hover,
.navbar-default .navbar-nav > .active > button:focus,
.header-top .navbar-nav > li > a.is-active,
.header-top .navbar-nav > li > a.is-active:hover,
.header-top .navbar-nav > li > a.is-active:focus,
.header-top .navbar-nav > li > button.is-active,
.header-top .navbar-nav > li > button.is-active:hover,
.header-top .navbar-nav > li > button.is-active:focus,
.header-top .navbar-nav > .active > a,
.header-top .navbar-nav > .active > a:hover,
.header-top .navbar-nav > .active > a:focus,
.header-top .navbar-nav > .active > button,
.header-top .navbar-nav > .active > button:hover,
.header-top .navbar-nav > .active > button:focus {
  color: #f3f3f3;
  fill: #f3f3f3;
  background-color: #1f1f1f;
}

.navbar-second-line + main .search-take-over .form-text,
.navbar-second-line + main .search-take-over svg {
  color: #fffff1;
  fill: #fffff1;
}

.navbar-second-line + main .search-take-over .form-text::-webkit-input-placeholder {
  color: #fffff1 !important;
}

.navbar-second-line + main .search-take-over .form-text::-moz-placeholder {
  color: #fffff1 !important;
}

.navbar-second-line + main .search-take-over .form-text:-ms-input-placeholder {
  color: #fffff1 !important;
}

.navbar-second-line + main .search-take-over .form-text:-moz-placeholder {
  color: #fffff1 !important;
}

.navbar-second-line + main .search-take-over .form-text:focus {
  border-color: #fffff1;
  -webkit-box-shadow: 0 2px 0 0 #fffff1;
          box-shadow: 0 2px 0 0 #fffff1;
}

.navbar-second-line + main .search--with-suggestions .spinner > div {
  background-color: #fffff1;
}

html:not(.js) .navbar-default .dropdown:focus > a,
html:not(.js) .navbar-default .dropdown:focus > button, html:not(.js) .navbar-default .dropdown:hover > a,
html:not(.js) .navbar-default .dropdown:hover > button {
  color: #f3f3f3;
  background-color: #1f1f1f;
}

html:not(.js) .navbar-default .dropdown:focus > a .navbar-nav__icon,
html:not(.js) .navbar-default .dropdown:focus > button .navbar-nav__icon, html:not(.js) .navbar-default .dropdown:hover > a .navbar-nav__icon,
html:not(.js) .navbar-default .dropdown:hover > button .navbar-nav__icon {
  fill: #f3f3f3;
}

.dropdown.has-alert.has-alert--desktop > a:before {
  color: #343434;
  background-color: #ffc142;
}

.search-take-over .form-control::-webkit-input-placeholder {
  color: #ffffff !important;
}

.search-take-over .form-control::-moz-placeholder {
  color: #ffffff !important;
}

.search-take-over .form-control::-ms-input-placeholder {
  color: #ffffff !important;
}

.search-take-over .form-control::placeholder {
  color: #ffffff !important;
}

.search-take-over .form-control::-moz-placeholder {
  color: #ffffff !important;
  opacity: 1;
}

.search-take-over .form-control :-ms-input-placeholder {
  color: #ffffff !important;
}

.search-take-over .form-control ::-ms-input-placeholder {
  color: #ffffff !important;
}

.navbar-nav__icon {
  fill: #ffffff;
}

.navbar__open-search-block {
  background-color: #333333;
}

.navbar-second-line .navbar__open-search-block {
  background-color: #004494;
}

.search--with-suggestions .spinner > div {
  background-color: #ffffff;
}

.card__block .form-item-data-policy label a {
  color: #33b5e5;
}

.vote-widget--social-vote .vote-vote {
  color: #343434;
  background-color: #ffc142;
}

.social-gtranslate-list--desktop > a {
  color: #ffffff;
  background-color: #333333;
}

.social-gtranslate-list--desktop > a:after {
  color: #ffffff;
}

.social-gtranslate-list--desktop > a .select-icon {
  fill: #ffffff;
}

.social-gtranslate-list--desktop > a:focus, .social-gtranslate-list--desktop > a:hover {
  color: #f3f3f3;
  fill: #f3f3f3;
  background-color: #1f1f1f;
}

.social-gtranslate-list--desktop > a:focus:after, .social-gtranslate-list--desktop > a:hover:after {
  color: #f3f3f3;
}

.social-gtranslate-list--desktop > a:focus .select-icon, .social-gtranslate-list--desktop > a:hover .select-icon {
  fill: #f3f3f3;
}

.social-gtranslate-list--desktop.open > a {
  color: #f3f3f3;
  fill: #f3f3f3;
  background-color: #1f1f1f;
}

.social-gtranslate-list--desktop.open > a:after {
  color: #f3f3f3;
}

.social-gtranslate-list--desktop.open > a .select-icon {
  fill: #f3f3f3;
}

.social-gtranslate-list--desktop.open > a:focus, .social-gtranslate-list--desktop.open > a:hover {
  color: #f3f3f3;
  fill: #f3f3f3;
  background-color: #1f1f1f;
}

.social-gtranslate-list--desktop.open > a:focus:after, .social-gtranslate-list--desktop.open > a:hover:after {
  color: #f3f3f3;
}

.social-gtranslate-list--desktop.open > a:focus .select-icon, .social-gtranslate-list--desktop.open > a:hover .select-icon {
  fill: #f3f3f3;
}

.navbar-second-line .social-gtranslate-list--desktop > a {
  color: #fffff1;
  background-color: #004494;
}

.navbar-second-line .social-gtranslate-list--desktop > a:after {
  color: #fffff1;
}

.navbar-second-line .social-gtranslate-list--desktop > a .select-icon {
  fill: #fffff1;
}

.navbar-second-line .social-gtranslate-list--desktop > a:focus, .navbar-second-line .social-gtranslate-list--desktop > a:hover {
  color: #002f67;
  fill: #002f67;
  background-color: #f2f5f9;
}

.navbar-second-line .social-gtranslate-list--desktop > a:focus:after, .navbar-second-line .social-gtranslate-list--desktop > a:hover:after {
  color: #002f67;
}

.navbar-second-line .social-gtranslate-list--desktop > a:focus .select-icon, .navbar-second-line .social-gtranslate-list--desktop > a:hover .select-icon {
  fill: #002f67;
}

.marker-cluster:after,
.marker-cluster-small:after {
  background: #1f80aa;
}

.marker-cluster div:after,
.marker-cluster-small div:after {
  background: #1f80aa;
}

.leaflet-popup-content .card__text > a {
  color: #33b5e5;
}

.leaflet-popup-content .card__text > a:after {
  color: #33b5e5;
}

.card__featured-items .teaser__info svg {
  color: #29abe2;
  fill: #29abe2;
}

.card__featured-items .teaser__info svg:hover, .card__featured-items .teaser__info svg:focus, .card__featured-items .teaser__info svg:active {
  color: #ffc142;
  fill: #ffc142;
}

.course__navigation .course_nav-title,
.course__navigation .course_nav-toggle,
.course__navigation .course_dividing-line {
  color: #29abe2;
}

.course__navigation .course_nav-title .icon {
  background: #29abe2;
}

.course__navigation .course_nav-title:hover, .course__navigation .course_nav-title:active, .course__navigation .course_nav-title:focus {
  color: #ffc142;
}

.course__navigation .course_nav-title:hover .icon, .course__navigation .course_nav-title:active .icon, .course__navigation .course_nav-title:focus .icon {
  background: #ffc142;
}

.course__navigation .course_nav-toggle svg {
  fill: #29abe2;
}

.course__navigation .course_nav-toggle:hover, .course__navigation .course_nav-toggle:active, .course__navigation .course_nav-toggle:focus {
  color: #ffc142;
}

.course__navigation .course_nav-toggle:hover svg, .course__navigation .course_nav-toggle:active svg, .course__navigation .course_nav-toggle:focus svg {
  fill: #ffc142;
}

.badge.badge-primary,
.node--unpublished__label {
  background-color: #29abe2;
}

.badge.badge-active {
  color: #343434;
  background-color: #ffc142;
}

.phase.phase-past:not(:last-child):before {
  color: #343434;
  background-color: #ffc142;
}

.phase.phase-past .phase-past--icon .checkmark-icon {
  fill: #ffc142;
}

.phase.phase-active:before {
  color: #343434;
  background-color: #ffc142;
}

.phase .teaser__tag {
  color: #29abe2;
}

.phase .teaser__tag a:hover, .phase .teaser__tag a:active, .phase .teaser__tag a:focus {
  color: #ffc142;
}

.phase.path-group .cover-wrap .teaser__tag {
  background-color: #29abe2;
  color: #fff;
}

.phase .badge-primary {
  background: #29abe2;
}

.phase .hero__banner-static .hero__tag {
  color: #29abe2;
}

.phase .hero__banner-static .hero__tag a,
.phase .hero__banner-static .hero__tag span {
  color: #29abe2;
}

.phase .hero__banner-static .hero__tag a:hover, .phase .hero__banner-static .hero__tag a:active, .phase .hero__banner-static .hero__tag a:focus {
  color: #ffc142;
}

.phase .navbar-secondary .navbar-nav .hidden-list li a:hover, .phase .navbar-secondary .navbar-nav .hidden-list li a.active, .phase .navbar-secondary .navbar-nav .hidden-list li a:focus, .phase .navbar-secondary .navbar-nav .hidden-list li a.is-active {
  color: #29abe2;
}

.teaser--tile.teaser-profile .teaser__image {
  background-color: #29abe2;
}

.email-preview .btn-link-bg {
  background: #29abe2;
}

.email-preview .btn-link {
  border-color: #29abe2;
  color: #29abe2;
}

.email-preview .main a:not(.btn-link) {
  color: #29abe2;
}

.block-data-policy .card__title {
  background: #1f80aa;
}

.social__dialog-badge.social__certificate .social__certificate--no-bg .social__certificate--content .footer a {
  color: #29abe2;
}

.social__dialog-badge.social__certificate .social__certificate--no-bg .social__certificate--content .footer a .icon {
  fill: #29abe2;
}

.back-link {
  color: #29abe2;
  fill: #29abe2;
}

.back-link:hover, .back-link:focus {
  color: #1f80aa;
  fill: #1f80aa;
}

.poll-current-result .choice-result .bar {
  border-color: #29abe2;
}

.poll-current-result .choice-result .bar .foreground {
  background: #29abe2;
}

.addtocal-list li .calendar-link a {
  color: #29abe2;
}

.profile-preview-link:hover:before {
  border-color: #29abe2;
}

body.media-directory .dropzone .dz-message,
body.media-directory .dropzone .dz-preview:not(.dz-error) {
  border-color: #29abe2;
}

body.media-directory .dz-preview .dz-progress .dz-upload {
  background: #29abe2;
}

.ck.ck-content a:not(.btn) {
  text-decoration: underline;
  color: #33b5e5;
}

.ck.ck-content blockquote {
  border-left-color: #29abe2;
}

.files-list .active-highlighted:before {
  border-color: #29abe2;
}

@media (min-width: 900px) {
  .search-take-over .form-text {
    color: #ffffff;
  }
  .search-take-over .form-text:focus {
    border-color: #ffffff;
    -webkit-box-shadow: 0 2px 0 0 #ffffff;
            box-shadow: 0 2px 0 0 #ffffff;
  }
  .btn--close-search-take-over svg,
  .search-take-over svg {
    fill: #ffffff;
  }
}

@media (max-width: 899px) {
  .navbar-default.navbar-second-line .navbar-nav li > ul > li.expanded > .dropdown-menu {
    background-color: #f2f5f9;
  }
  .navbar-default.navbar-second-line .navbar-nav li > ul > li.expanded > .dropdown-menu > li:focus, .navbar-default.navbar-second-line .navbar-nav li > ul > li.expanded > .dropdown-menu > li:hover, .navbar-default.navbar-second-line .navbar-nav li > ul > li.expanded > .dropdown-menu > li.active {
    background: #004494;
  }
  .navbar-default .navbar-nav li > ul > li.expanded > .dropdown-menu,
  .header-top .navbar-nav li > ul > li.expanded > .dropdown-menu {
    background-color: #1f1f1f;
  }
  .navbar-default .navbar-nav li > ul > li.expanded > .dropdown-menu > li:focus, .navbar-default .navbar-nav li > ul > li.expanded > .dropdown-menu > li:hover, .navbar-default .navbar-nav li > ul > li.expanded > .dropdown-menu > li.active,
  .header-top .navbar-nav li > ul > li.expanded > .dropdown-menu > li:focus,
  .header-top .navbar-nav li > ul > li.expanded > .dropdown-menu > li:hover,
  .header-top .navbar-nav li > ul > li.expanded > .dropdown-menu > li.active {
    background: #333333;
  }
  .navbar-collapse .dropdown-menu li a {
    color: #ffffff;
  }
  .navbar-collapse .dropdown-menu li a:hover, .navbar-collapse .dropdown-menu li a:focus {
    color: #f3f3f3;
    background-color: #1f1f1f;
  }
  .navbar-collapse .dropdown-menu.navbar-second-line {
    background-color: #004494;
  }
  .navbar-collapse .dropdown-menu.navbar-second-line li a:hover, .navbar-collapse .dropdown-menu.navbar-second-line li a:focus {
    color: #002f67;
    background-color: #f2f5f9;
  }
}

@media (max-width: 599px) {
  .dropdown.has-alert > a:before {
    color: #343434;
    background-color: #ffc142;
  }
}
